*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #efefef;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar css starts here.. */

nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    top: 0;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.nav-left .logo{
    width: 40px;
    margin: 5px 8px;
    cursor: pointer;
}
.nav-left .logo i{
    width: 100%;
    color: #468ff6;
    font-size: 22px;
}
.nav-left .search-box{
    width: 230px;
    height: 40px;
    background: #efefef;
    border-radius: 20px;
    margin-left: 3px;
    padding: 0px 8px;
    position: relative;
}
.nav-left .search-box i{
    color: #919199;
    margin-left: 5px;
    line-height: 40px;
}
.nav-left .search-box input{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 4px;
    width: 150px;
    font-size: 14px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    line-height: 45px;
    margin-right: 16px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-right i{
    background: #efefef;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 8px;
    padding: 10px;
    font-size: 22px;
}
.nav-center{
    margin-right: 30px;
}
.nav-center i{
    width: 30px;
    background: none;
    border-radius: 10px;
    margin-left: 8px;
    font-size: 22px;
    padding: 13px 40px;
    color: #646262;
}
.nav-center .fa-house{
    color: #3636f8;
    position: relative;
}
.nav-center .fa-house::after{
    content: '';
    background: #3636f8;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 6px;
    position: absolute;
}
.nav-center a i:hover{
    background: #efefef;
    color: #252525;
}
.nav-right i:hover{
    background: #b9b7b7;
}

.card-menu-wrap{
    position: absolute;
    top: 110%;
    right: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.open-menu{
    max-height: 400px;
}
.card-menu{
    width: 330px;
    background: #fff;
    border-radius: 7px;
    padding: 14px;
}
.profile-menu{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.profile-menu p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 550;
}
.card-menu-items{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    padding: 5px 0;
    color: #252525;
}
.card-menu-items:hover{
    background: #efefef;
}
.card-menu-items p{
    width: 100%;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1rem;
}
.card-menu-items span{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-menu-items i{
    width: 40px;
    background: #efefef;
    padding: 8px;
    margin-left: 15px;
    color: black;
}


.main{
    display: flex;
    margin-top: 30px;
}
.main-left{
    width: 24%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    border-right: 2px solid #969393;
}
.main-left::-webkit-scrollbar{
    width: 7px;
}
.main-left::-webkit-scrollbar-thumb{
    border-right: 20px;
    background: #f2f2f2;
}
.main-left:hover::-webkit-scrollbar-thumb{
    background: #bcbbbb;
}

.img{
    display: flex;
    height: 40px;
    margin: 5px 10px;
    cursor: pointer;
}
.img:hover{
    background: #e8e7e7;
    border-radius: 7px;
}
.img p{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    color: #252525;
}
.img i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 12px;
    color: #1ba7e7;
    object-fit: cover;
    object-position: center;
}
.img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 12px;
}
.main-left hr{
    border: 0;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}
.shortcut{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 12px;
}
.shortcut a{
    text-decoration: none;
}
.shortcut p{
    font-size: 18px;
}



.main-right{
    width: 23%;
    height: 92%;
    margin-right: 10px;
    margin-left: 76%;
    padding: 12px 0;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
}
.main-right h4{
    color: #919191;
    font-size: 14px;
}
.main-right::-webkit-scrollbar{
    width: 7px;
}
.main-right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f2f2f2;
}
.main-right:hover::-webkit-scrollbar-thumb{
    background: #bcbbbb;
}
.sponsored-link{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    padding: 5px 0;
}
.sponsored-link img{
    width: 90px;
    height: 80px;
    border-radius: 8px;
    margin: 6px 3px;
}
.sponsored-link p{
    padding: 14px 0;
    font-size: 14px;
    font-weight: 500;
    color: #252525;
    margin-left: 10px;
}
.sponsored-link p a{
    text-decoration: none;
    font-size: 12px;
    color: #646262;
}
.main-right hr{
    border: 0;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}
.page-links{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
}
.page-links:hover, .page-links-items:hover, .sponsored-link:hover{
    background: #e8e7e7;
    border-radius: 7px;
}
.page-links p{
    padding: 14px 0;
    font-size: 15px;
    font-weight: 550;
    color: #252525;
    margin-left: 15px;
}
.page-links img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.page-links-items{
    display: flex;
    align-items: center;
    height: 20px;
    margin: 5px 0;
    cursor: pointer;
}
.page-links-items i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 11%;
    color: #9c9898;
    padding-right: 1rem;
}
.page-links-items p{
    color: #969393;
    font-size: 13px;
    padding-left: 1rem;
}
.button{
    margin-left: 10%;
    display: flex;
}
.button .confirm{
    padding: 3px 12px;
    border-radius: 8px;
    background: #468ff6;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 550;
}
.button .delete{
    margin-left: 5%;
    padding: 9px 20px;
    border-radius: 8px;
    color: #383737;
    border: 0;
    margin-top: 0.5rem;
    outline: none;
    font-size: 16px;
    font-weight: 550;
    background: #bcbbbb;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #014501;
    bottom: 0;
    right: 0;
}
.contact-section .search{
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.contact-section .search i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    color: #919191;
    cursor: pointer;
}
.contact-section .search h4{
    flex-grow: 1;
    font-size: 14px;
}



.main-center{
    width: 45%;
    margin-left: 28%;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
}
.top-box{
    width: 100%;
    height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
}
.my-story, .friends-story{
    width: 125px;
    height: 240px;
    margin: 0 4px;
    overflow: hidden;
    box-shadow: 0 1px 9px rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: pointer;
}
.my-story img, .friends-story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.upload{
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 50px;
    background: #fff;
    cursor: pointer;
}
.upload h1{
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    color: #fff;
    background: #468ff6;
}
.upload p{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: 600;
    font-size: 13px;
}
.friend-profile{
    position: relative;
    bottom: 240px;
    margin-left: 10px;
}
.friend-profile .circle{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #27cc37;
    border:  1px solid #fff;
    position: relative;
    bottom: 15px;
    left: 25px;
}
.friend-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #45abff;
}
.firend-name{
    position: relative;
    bottom: 80px;
    padding: 0 9px;
}
.friend-name p{
    position: relative;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.create-post{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
    margin: 10px 0;
}
.create-post .ptop{
    display: flex;
    align-items: center;
}
.create-post hr{
    margin-top: 1rem;
}
.create-post .ptop img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.ptop input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    font-size: 17px;
}
.ptop input:hover{
    background: #e3e3e3;
    cursor: pointer;
}
.pbottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3px auto;
}
.pbottom .post-icon{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 20px;
    cursor: pointer;
}
.pbottom .post-icon p{
    font-size: 10px;
    font-weight: 600;
}
.pbottom .post-icon:hover{
    background: #efefef;
    border-radius: 8px;
}
.pbottom .post-icon i.red{
    font-size: 20px;
    color: red;
    margin-right: 8px;
}
.pbottom .post-icon i.green{
    font-size: 20px;
    color: green;
    margin-right: 8px;
}
.pbottom .post-icon i.yellow{
    font-size: 20px;
    color: yellow;
    margin-right: 8px;
}
.friends-post{
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
.friends-ptop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.friends-ptop .img-name{
    display: flex;
    align-items: center;
}
.friends-ptop .img-name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}
.friends-name{
    font-weight: 600;
    cursor: pointer;
}
.friend-name{
    font-size: 13px;
}
.friends-name:hover{
    text-decoration: underline;
}
.friends-name .time{
    font-size: 13px;
    color: #919191;
    margin: 3px 0;
}
.friends-name .time i{
    font-size: 10px;
}
.friends-ptop .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.friends-ptop .menu:hover{
    background: #efefef;
    cursor: pointer;
}
.friends-post img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.friends-post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.friends-post .post-icons{
    display: flex;
}
.friends-post .post-icons i{
    width: 20px;
    height: 20px;
}
.friends-post .post-icons i.blue{
    color: #468ff6;
}
.friends-post .post-icons i.yellow{
    color: yellow;
    border-radius: 50%;
}
.friends-post .post-icons i.red{
    color: red;
}
.friends-post .post-icons p{
    font-size: 8px;
    font-weight: 600;
    margin-top: 0.3rem;
}
.info .comment{
    display: flex;
    align-items: center;
}
.info .comment p{
    padding: 0 10px;
    font-size: 10px;
    color: #919191;
}
hr{
    height: 1px;
}
.friends-post .like{
    padding-top: 0.4rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friends-post .like .like-icon{
    display: flex;
    align-items: center;
}
.friends-post .like-icon i{
    font-size: 17px;
    margin-right: 8px;
    color: #919191;
}
.friends-post .like-icon p{
    font-size: 9px;
}
.comment-wrapper{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.comment-wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}
.comment-wrapper .circle{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #27cc37;
    border: 1px solid #fff;
    position: relative;
    top: 15px;
    right: 25px;
}
.comment-wrapper .comment-search{
    width: 90%;
    padding: 5px 15px;
    background: #efefef;
    border-radius: 30px;
}
.comment-search input{
    padding-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 30px;
    border-radius: 30px;
    background: #f2f2f2;
    border: none;
    outline: none;
}
.comment-search i{
    margin-top: 0.5rem;
    padding: 0 5px;
    color: #919191;
}