@import url('https://fonts.googleapis.com/css?family=poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --firstcolor: #f3a446;
    --secondcolor: #a06235;
    --thirdcolor: #141313;
    --fourthcolor: #1d1d1d;
    --whitecolor: #ffffff;
}
*{
    font-family: sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: var(--thirdcolor);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
    color: var(--firstcolor);
}
header .logo img{
    width: 50px;
    border-radius: 50px;
}

#menu-bar{
    color: var(--firstcolor);
    cursor: pointer;
}

.main-home-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 5rem;
    height: 100vh;
}
.main-home-section .inner-home-section .right-image img{
    width: 100%;
    border-radius: 1rem;
    margin-top: 100px;
}
.left-content{
    padding: 0 2rem;
}
.left-content h2{
    color: var(--secondcolor);
    font-size: 35px;
    padding: 1rem 0;
}
.left-content p{
    color: var(--firstcolor);
    font-size: 1rem;
    padding-bottom: 2rem;
}
.left-content a{
    color: var(--fourthcolor);
    font-size: 1.3rem;
    padding: 1rem 2rem;
    background-color: var(--firstcolor);
    transition: 0.6s all ease;
}
.left-content a:hover{
    color: white;
    border-radius: 1rem;
}
.main-favourite{
    padding: 2rem 9%;
    background-color: var(--fourthcolor);
    width: 100%;
}
.main-header-title h1{
    text-align: center;
    font-size: 40px;
    color: var(--firstcolor);
}
.favourite-inner{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.inner-favourite{
    flex: 1 1 200px;
    background: var(--thirdcolor);
    box-shadow: rgba(0,0,0,0.07) 0px 1px 2px, rgba(0,0,0,0.07) 0px 2px 4px, rgba(0,0,0,0.07);
    padding: 2rem 0;
    transition: 1s all ease;
}
.inner-favourite:hover{
    background: var(--firstcolor);
}
.inner-favourite .fav-content{
    text-align: center;
}
.inner-favourite .fav-content img{
    width: 50%;
    height: 150px;
}
.fav-content h3{
    color: white;
    font-size: 28px;
}
.fav-content p{
    color: white;
    padding: 1rem 0;
}
.fav-content a{
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    background: var(--firstcolor);
}
.fav-content a:hover{
    background-color: var(--fourthcolor);
}
.my-back{
    width: 100%;
    background-image: url(img/grains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.our-menu{
    padding: 2rem 9%;
    background-color: var(--thirdcolor);
}
.our-menu-title h1{
    font-size: 40px;
    padding: 2rem;
    text-align: center;
    color: var(--firstcolor);
}
.main-menu-sec{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.inner-menu-con{
    flex: 1 1 200px;
    background: var(--firstcolor);
    padding: 2rem;
    text-align: center;
    margin: 1rem 0;
}
.inner-menu-content{
    background: var(--firstcolor);
    padding: 2rem 0;
    border-radius: 20px;
}
.inner-menu-con img{
    margin-top: -100px;
    width: 50px;
    border-radius: 50px;
}
.inner-menu-content h2{
    color: white;
    font-size: 28px;
}
.inner-menu-content p{
    font-size: 1rem;
    padding: 1rem 0;
    color: white;
    padding-bottom: 2rem;
}
.inner-menu-content a{
    margin-bottom: 15px;
    padding: 1rem 1.5rem;
    color: white;
    background: var(--fourthcolor);
    font-size: 1rem;
}
.inner-menu-content a:hover{
    background: var(--firstcolor);
}
.our-gallery{
    padding: 2rem 9%;
}
.main-heading h1{
    text-align: center;
    color: var(--fourthcolor);
    font-size: 40px;
    padding: 2rem;
}
.main-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.inner-gallery-img{
    flex: 1 1 200px;
}
.inner-gallery-img img{
    width: 100%;
}




















@media(max-width:600px){
    html{
        font-size: 60%;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--thirdcolor);
        clip-path: polygon(0 0, 100% 0, 100% 0);
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 1rem;
        padding: 2rem;
        background: white;
        color: var(--fourthcolor);
        border-radius: 15px;
        border: 3px solid var(--firstcolor);
    }
    .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .main-home-section{
        display: block;
        justify-content: center;
        padding-top: 9rem;
        font-size: 55%;
        align-items: center;
    }
    .left-content{
        padding: 0;
    }
    .left-content h2{
        font-size: 25px;
    }
    .left-content p{
        font-size: 1.5rem;
    }
    .main-home-section .inner-home-section .right-image img{
        width: 70%;
        margin-top: 4rem;
    }
    
}